<% provide(:title, "Property details") %>

<div class="show">
  <div class="row">
    <div class="col-sm-2">
      <strong>Name:</strong>
    </div>
    <div class="col-sm-10">
      <%= @property.name %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <strong>Rooms:</strong>
    </div>
    <div class="col-sm-10">
      <%= @property.rooms %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <strong>Facilities:</strong>
    </div>
    <div class="col-sm-10">
    <%= @property.facilities %>
  </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <strong>Category:</strong>
    </div>
    <div class="col-sm-10">
      <%= @property.category %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <strong>Rating:</strong>
    </div>
    <div class="col-sm-10">
      <%= @property.rating %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <strong>Address:</strong>
    </div>
    <div class="col-sm-10">
      <%= @property.address %>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>