<% provide(:title, "Reservations") %>

<h1>Reservations</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Property</th>
      <th>From</th>
      <th>To</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @reservations.each do |reservation| %>
      <%
        resProperty = Property.find(reservation.property_id)
        resUser = User.find(reservation.user_id)
      %>
      <tr>
        <td><%= resProperty.name %></td>
        <td><%= Time.at(reservation.from).strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td><%= Time.at(reservation.to).strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td><%= resUser.first_name + " " + resUser.last_name %></td>
        <td><%= link_to 'Show', reservation %></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_reservation_path, class: 'btn btn-info' %>
