<% provide(:title, "Reservation details") %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Property:</strong>
  <%= @reservation.property_id %>
</p>

<p>
  <strong>From:</strong>
  <%= @reservation.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @reservation.to %>
</p>

<p>
  <strong>User:</strong>
  <%= @reservation.user_id %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
